{% extends 'redeBundle::BackViews/index.html.twig' %}
{% block title %} Wafacuir - Sous-categorie {% endblock %}
{% block pagetitle %} <h3> Consulter et modifier les Sous-categorie du menu </h3> {% endblock %}
{% block pagenav %}
    <ul class="breadcrumb">
        <li class="breadcrumb-item">Categorie</li>
        <li class="breadcrumb-item active"><a href="{{ path('souscategorie_list') }}"> Consulter </a></li>
    </ul>
{% endblock %}
{% block body %}

    <div class="col-lg-12">
        <div class="card">

            <div class="card-body">
                <form class="form-horizontal">
                    <div class="table-responsive">
                        <table class="table" id="table">
                            <thead >
                            <tr>

                                <th> Sous-categorie 2 </th>
                                <th></th>
                                <th></th>

                            </tr>
                            </thead>

                            {% for s in souscategorie %}
                                <tr>
                                    <td> {{ s.souscategorie }} </td>
                                    <td> <a href="{{ path('souscategorie_edit', {'id' : s.id}) }}"><span class="glyphicon glyphicon-pencil"></span></a> </td>
                                    <td> <a href="{{ path('souscategorie_delete', {'id' : s.id}) }}"><span class="glyphicon glyphicon-trash"></span></a> </td>

                                </tr>
                            {% endfor %}

                        </table>

                    </div>
                </form>

            </div>

        </div>

    </div>

    <td><a href="{{ path('souscategorie_add') }}"><span class="btn info" aria-hidden="true"> Ajouter </span></a></td>

    </div>



{% endblock %}