{% extends 'redeBundle::BackViews/index.html.twig' %}
{% block title %} RedeMaroc - Produit {% endblock %}
{% block pagetitle %} <h3> Modifier un produit </h3> {% endblock %}
{% block pagenav %}
    <ul class="breadcrumb">
        <li class="breadcrumb-item">Produit</li>
        <li class="breadcrumb-item active"><a href="{{ path('produit_edit' ,{'id': ids }) }}"> Modifier </a></li>
    </ul>
{% endblock %}
{% block body %}

    <form action="{{ path('produit_edit',{'id': ids }) }} " method="post" enctype="multipart/form-data" >
        {{ form_start(form, {'attr':{'novalidate':'novalidate'}}) }}
        {{ form_row(form._token) }}

        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <form class="form-horizontal">


                        <div class="form-group row">
                            <label class="col-sm-3 form-control-label"> Menu </label>
                            <div class="col-sm-9">
                                {{ form_widget(form.type, {'attr': {'class': 'form-control', 'id':'inputdefault'}}) }}
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-3 form-control-label"> Reference </label>
                            <div class="col-sm-9">
                                {{ form_widget(form.reference, {'attr': {'class': 'form-control', 'id':'inputdefault'}}) }}
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-3 form-control-label"> Image principale </label>
                            <div class="col-sm-9">
                                {{ form_widget(form.file, {'attr': {'class': 'form-control', 'id':'inputdefault'}}) }}
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-3 form-control-label"> Image 1 </label>
                            <div class="col-sm-9">
                                {{ form_widget(form.filea, {'attr': {'class': 'form-control', 'id':'inputdefault'}}) }}
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-3 form-control-label"> Image 2 </label>
                            <div class="col-sm-9">
                                {{ form_widget(form.fileb, {'attr': {'class': 'form-control', 'id':'inputdefault'}}) }}
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-3 form-control-label"> Image 3 </label>
                            <div class="col-sm-9">
                                {{ form_widget(form.filec, {'attr': {'class': 'form-control', 'id':'inputdefault'}}) }}
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-3 form-control-label"> Image 4 </label>
                            <div class="col-sm-9">
                                {{ form_widget(form.filed, {'attr': {'class': 'form-control', 'id':'inputdefault'}}) }}
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-3 form-control-label"> Titre du produit</label>
                            <div class="col-sm-9">
                                {{ form_widget(form.titre, {'attr': {'class': 'form-control', 'id':'inputdefault'}}) }}
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-3 form-control-label"> Titre </label>
                            <div class="col-sm-9">
                                {{ form_widget(form.titre1, {'attr': {'class': 'form-control', 'id':'inputdefault'}}) }}
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-3 form-control-label">Contenu 1 </label>
                            <div class="col-sm-9">
                                {{ form_widget(form.presentation, {'attr': {'class': 'form-control', 'id':'inputdefault'}}) }}
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-3 form-control-label">Titre 2 </label>
                            <div class="col-sm-9">
                                {{ form_widget(form.titre2, {'attr': {'class': 'form-control', 'id':'inputdefault'}}) }}
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-3 form-control-label">Caractéristiques </label>
                            <div class="col-sm-9">
                                {{ form_widget(form.plusinfo, {'attr': {'class': 'form-control', 'id':'inputdefault'}}) }}
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-3 form-control-label"> prix </label>
                            <div class="col-sm-9">
                                {{ form_widget(form.prix, {'attr': {'class': 'form-control', 'id':'inputdefault'}}) }}
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-3 form-control-label"> Document </label>
                            <div class="col-sm-9">
                                {{ form_widget(form.filee, {'attr': {'class': 'form-control', 'id':'inputdefault'}}) }}
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-3 form-control-label"> Video </label>
                            <div class="col-sm-9">
                                {{ form_widget(form.video, {'attr': {'class': 'form-control', 'id':'inputdefault'}}) }}
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-3 form-control-label"> Accessoires </label>
                            <div class="col-sm-9">
                                {{ form_widget(form.accessoire, {'attr': {'class': 'form-control', 'id':'inputdefault'}}) }}
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-3 form-control-label"> Meta Description </label>
                            <div class="col-sm-9">
                                {{ form_widget(form.metadescription, {'attr': {'class': 'form-control', 'id':'inputdefault', 'maxlength' : 300}}) }}
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-3 form-control-label"> Meta Mot clé </label>
                            <div class="col-sm-9">
                                {{ form_widget(form.metakeywords, {'attr': {'class': 'form-control', 'id':'inputdefault', 'maxlength' : 300}}) }}
                            </div>
                        </div>


                        <div class="form-group row">
                            <div class="col-sm-4 offset-sm-3">
                                <button type="submit" class="btn">Enregistrer</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>


    </form>

{% endblock %}

{% block javascript %}
    <script>
        CKEDITOR.replace( 'redemaroc_redebundle_produit[presentation]' );
    </script>
    <script>
        CKEDITOR.replace( 'redemaroc_redebundle_produit_plusinfo' );
    </script>

{% endblock %}