{% extends 'redeBundle::BackViews/index.html.twig' %}
{% block title %} Wafacuir - Avis {% endblock %}
{% block pagetitle %} <h3> modifier un avis </h3> {% endblock %}
{% block pagenav %}
    <ul class="breadcrumb">
        <li class="breadcrumb-item">Avis</li>
        <li class="breadcrumb-item active"><a href="{{ path('avis_edit',{'id': ids }) }}"> Modifier </a></li>
    </ul>
{% endblock %}
{% block body %}

    <form action="{{ path('avis_edit',{'id': ids }) }}" {{ form_enctype(form) }} method="POST" >
        {{ form_start(form, {'attr':{'novalidate':'novalidate'}}) }}
        {{ form_row(form._token) }}

        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <form class="form-horizontal">


                        <div class="form-group row">
                            <label class="col-sm-3 form-control-label">Nom </label>
                            <div class="col-sm-9">
                                {{ form_widget(form.nom, {'attr': {'class': 'form-control', 'id':'inputdefault'}}) }}
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-3 form-control-label"> Email </label>
                            <div class="col-sm-9">
                                {{ form_widget(form.email, {'attr': {'class': 'form-control', 'id':'inputdefault'}}) }}
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-3 form-control-label"> Avis </label>
                            <div class="col-sm-9">
                                {{ form_widget(form.avis, {'attr': {'class': 'form-control', 'id':'inputdefault'}}) }}
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-3 form-control-label"> publié </label>
                            <div class="col-sm-9">
                                {{ form_widget(form.publish, {'attr': {'class': 'form-control', 'id':'inputdefault'}}) }}
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-sm-4 offset-sm-3">
                                <button type="submit" class="btn">Enregistrer</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>


    </form>

{% endblock %}

