{% extends 'redeBundle::BackViews/index.html.twig' %}
{% block title %} Wafacuir - Type {% endblock %}
{% block pagetitle %} <h3> Ajout d'un type pour le menu </h3> {% endblock %}
{% block pagenav %}
    <ul class="breadcrumb">
        <li class="breadcrumb-item">Type</li>
        <li class="breadcrumb-item active"><a href="{{ path('type_add') }}"> Ajout </a></li>
    </ul>
{% endblock %}
{% block body %}

<form action="{{ path('type_add') }} " method="post" {{ form_enctype(form) }}{#enctype="multipart/form-data"#} >
    {{ form_start(form, {'attr':{'novalidate':'novalidate'}}) }}
    {{ form_row(form._token) }}


    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <form class="form-horizontal">


                    <div class="form-group row">
                        <label class="col-sm-3 form-control-label">Type </label>
                        <div class="col-sm-9">
                            {{ form_widget(form.type, {'attr': {'class': 'form-control', 'id':'inputdefault'}}) }}
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-sm-4 offset-sm-3">
                            <button type="submit" class="btn">Enregistrer</button>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>

</form>

{% endblock %}
