{% extends 'redeBundle::BackViews/index.html.twig' %}
{% block title %} RedeMaroc - Type {% endblock %}
{% block pagetitle %} <h3> Consulter et modifier les type menu </h3> {% endblock %}
{% block pagenav %}
    <ul class="breadcrumb">
        <li class="breadcrumb-item">Type</li>
        <li class="breadcrumb-item active"><a href="{{ path('type_list') }}"> Consulter </a></li>
    </ul>
{% endblock %}
{% block body %}

    <div class="col-lg-12">
        <div class="card">

            <div class="card-body">
                <form class="form-horizontal">
                    <div class="table-responsive">
                        <table class="table" id="table">
                            <thead >
                            <tr>

                                <th> Type </th>
                                <th></th>
                                <th></th>

                            </tr>
                            </thead>

                            {% for t in type %}
                                <tr>
                                    <td> {{ t.type }} </td>
                                    <td> <a href="{{ path('type_edit', {'id' : t.id}) }}"><span class="glyphicon glyphicon-pencil"></span></a> </td>
                                    <td> <a href="{{ path('type_delete', {'id' : t.id}) }}"><span class="glyphicon glyphicon-trash"></span></a> </td>

                                </tr>
                            {% endfor %}

                        </table>

                    </div>
                </form>

            </div>

        </div>

    </div>

    <td><a href="{{ path('type_add') }}"><span class="btn info" aria-hidden="true"> Ajouter </span></a></td>

    </div>



{% endblock %}